<div class="login-wrapper">
    <div class="card">
        <h2>Bejelentkezés</h2>

        <form [formGroup]="" ngSubmit="onSubmit">

            <label>E-mail</label>
            <input type="email" formControlName="email" placeholder="Írja be az e-mail címet">
            <div class="error" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                Érvénytelen E-mail cím
            </div>

            <label>Jelszó</label>
            <input type="password" formControlName="password" placeholder="Írja be a jelszavat">
            <div class="error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                Érvénytelen jelszó
            </div>

            <button type="submit" [disabled] = "loginForm.invalid">Bejelentkezés</button>
        </form>
    </div>
</div>