.cart-item {
  display: flex;
  align-items: center;
  background: #b9c3ce;
  margin: 12px 0;
  padding: 10px;
  border-radius: 10px;
}

.cart-item img {
  width: 80px;
  margin-right: 16px;
}

button {
  margin-left: auto;
}

.continue {
  background: orange;
  padding: 10px 20px;
  border-radius: 8px;
}
