<header class="navbar">
    <div class="left">
        <a href="/home">
            <img src="innercarlogo.png" alt="InnerCar logo" class="logo">
        </a>
    </div>

    <div class="right">
        <div class="search-bar">
            <input type="text" [(ngModel)]="searchQuery" placeholder="Keresés..." (keyup.enter)="search()">
            <button class="search-btn" (click)="search()">🔍</button>
        </div>

        <div class="btn orange" routerLink="/cart">Kosár</div>

        <ng-container *ngIf="isLoggedIn(); else loginBtn">
            <div class="profile-wrapper">
                <button class="avatar" (click)="toggleDropdown()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#555" width="24" height="24">
                        <path d="M12 12c2.7 0 4.8-2.1 4.8-4.8S14.7 2.4 12 2.4 7.2 4.5 7.2 7.2 9.3 12 12 12zm0 2.4c-3.2 0-9.6 1.6-9.6 4.8v2.4h19.2v-2.4c0-3.2-6.4-4.8-9.6-4.8z"/>
                    </svg>
                </button>
                <div class="dropdown" *ngIf="dropdownOpen">
                    <a routerLink="/profile" (click)="closeDropdown()">Profil</a>
                    <a routerLink="/favorites" (click)="closeDropdown()">Kedvencek</a>
                    <a routerLink="/settings" (click)="closeDropdown()">Beállítások</a>
                    <ng-container *ngIf="isAdmin()">
                        <hr class="dropdown-divider">
                        <a routerLink="/admin/orders" (click)="closeDropdown()">Rendelések</a>
                        <a routerLink="/admin/products" (click)="closeDropdown()">Termékek</a>
                        <a routerLink="/admin/users" (click)="closeDropdown()">Felhasználók</a>
                    </ng-container>
                    <a (click)="logout()">Kijelentkezés</a>
                </div>
            </div>
        </ng-container>

        <ng-template #loginBtn>
            <div class="btn orange" routerLink="/login">Bejelentkezés</div>
        </ng-template>
    </div>
</header>